html{
    scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  
}
header.sticky{
  background: #fff;
  padding: 20px 60px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  
}
header .logo{
  text-transform: uppercase;
  /* border-radius: 12px; */
  width: 50px;
  height: 50px;
}
header ul{
  position: relative;
  display: flex;
}
header ul li{
  position: relative;
  list-style: none;
}
header ul li a{
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
header.sticky ul li a{
  color: #111;
}
.section{
    margin-top: 80px;
    justify-content: space-between;
    align-items: center;
}
.section01{
  padding: 10px;
  background-color: #e9e9e9;

}
.divedit{
  width: 30%; 
}
.divedits{
  width: 50%; 
  padding: 10px;
  color: #686868;

}
.section01 h3{
    font-size: 35px;
    padding: 10px;
    text-align: center;
}
#div01{
  display: flex;
  justify-content: space-around;
}
video{
    display: flex;
    width: 100%;
}
.section1{
    padding: 10px;
    align-items: center;
    justify-content: center;
    background-color: #e2e2e2;
}
.section1 h3{
    font-size: 35px;
    color: white;
    text-align: center;
}
.center{
    width: 100%;
    text-align: -webkit-center;
}

/* slide  */

.img-slider{
    position: relative;
    width: 800px;
    height: 500px;
    margin: 10px;
    background: #1D212B;
  }
.img-slider .slide{
    z-index: 0;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
  }
.img-slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
  }
.img-slider .slide img{
    z-index: 0;
    width: 100%;
    border-radius: 5px;
  }
.img-slider .slide .info{
    position: absolute;
    top: 0;
    padding: 15px 30px;
  }
.img-slider .slide .info h2{
    color: #fff;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    margin-top: initial;
  }
.img-slider .slide .info p{
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
    font-size: 16px;
    width: 60%;
    padding: 10px;
    border-radius: 4px;
    margin-top: -30px;
  }
.img-slider .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
.img-slider .navigation .btn{
    background: #FF5201;
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
 .img-slider .navigation .btn.active{
    background: #8baec9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }
/* products */
.section2{
    padding: 10px;
    background-color: rgb(255, 255, 255);
}
.section2 h3{
    font-size: 35px;
    color: rgb(0, 0, 0);
    text-align: center;
}
#item{
    display: flex; 
    justify-content: space-around;
}
#item1{
  display: flex; 
  justify-content: space-around;
}
.div{
    background-color: white;
    text-align: center;
    width: 40%;
    border-radius: 26px;
    height: 315px;
    border: 1px solid black;
}
.div1{
    width: 40%;
    color: #8f8f8f;
}
.img1{
    width: 273px;
    height: 308px;
}
.text{
  text-align: justify;
  font-size: x-large;
  vertical-align: middle;
  margin-top: 10%;
}
/* payment method */

.good{
    padding: 10px 30px;
    background-color: #FF5201;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.good a{
  text-decoration: none;
  color: white;
}
/* modal */
.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.green{
  background-color: #eff5ea;
  border: solid 1px #61772c;
  width: 80%;
  padding: 0 30px;
} 
#p{
  color: #e25b3d;
}
/* about us */
.section4{
    padding: 10px;
    text-align: -webkit-center;
    background-color: rgb(250, 250, 250);
    min-height: 80vh;
}
.section4 h3{
    font-size: 35px;
    color: rgb(0, 0, 0);
    text-align: center;
}
.sec4{
  width: 60%;
  padding: 10px;
  border: 2px solid rgb(156, 156, 156);
  text-align: justify;
  border-radius: 22px;
}

/* Contact */

.section3{
  min-height: 75vh;
  margin: 30px;
  justify-content: space-around;
}
.section3 h3{
  font-size: 35px;
    color: rgb(0, 0, 0);
    text-align: center;
}
.sec3div{
  display: flex; 
  justify-content: space-around;
}
.map{
  width:600px; 
  height:450px;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

#button {
  background-color: #FF5201;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

#button:hover {
  background-color: #e48e1e;
}

.container1 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 45%;
  height: 50%;
}

.col-25 {
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
/* copyright */
.copyright{
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 10px;
  /* padding: 2px; */
  height: 24px;  
}












@media (max-width: 990px){
    #item{
      flex-direction: column-reverse;
      align-items: center;
    }
    #item1{
      flex-direction: column;
      align-items: center;
    }
    .div{
      width: 80%;
    }
    .div1{
      width: 80%;
    }
}
@media (max-width: 930px){
    .img-slider{
        width: 500px;
        height: 375px;
      }
      header, 
    header .sticky{
        padding: 10px 50px;
        z-index: 1000;
    }
    .menu{
        position: fixed;
        top: 75px;
        left:-100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #ecececc4;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0,0,0,0.2);
    }
    .menu.active1{
        left: 0;
    }
    header ul li a {
        color: #111;
        font-size: 24px;
        margin: 10px;
    }
    .toggle{
        width: 40px;
        height: 40px;
        background: url(../img/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
        filter: invert(1);
    }
    .toggle.active1{
        background: url(../img/close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    } 
    header.sticky .toggle{
        filter: invert(1);
    }
}




  @media (max-width: 820px){
    .img-slider{
      width: 500px;
      height: 375px;
    }
  
    .img-slider .slide .info{
      padding: 10px 25px;
    }
  
    .img-slider .slide .info h2{
      font-size: 35px;
    }
  
    .img-slider .slide .info p{
      width: 70%;
      font-size: 15px;
    }
  
    .img-slider .navigation{
      bottom: 25px;
    }
  
    .img-slider .navigation .btn{
      width: 10px;
      height: 10px;
      margin: 8px;
    }
    .row {
      flex-direction: column-reverse;
    }
    .btn{
        width: 40%;
    }
  }
  
  @media (max-width: 620px){
    .ediit{
      flex-direction: column;
    }
    #div01{
      flex-direction: column;
    }
    .divedits{
      width: 100%;
      padding: 10px;
    }
    .divedit{
      text-align: center;
      width: 100%;
    }
    .div , .div1{
      width: 100%;
    }
    .img-slider{
      width: 320px;
      height: 250px;
    }
  
    .img-slider .slide .info{
      padding: 10px 20px;
    }
  
    .img-slider .slide .info h2{
      font-size: 30px;
    }
  
    .img-slider .slide .info p{
      width: 80%;
      font-size: 13px;
    }
  
    .img-slider .navigation{
      bottom: 15px;
    }
  
    .img-slider .navigation .btn{
      width: 8px;
      height: 8px;
      margin: 6px;
    }
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
    .sec4{
      width: 100%;
      padding: 5px;
    }
    .sec3div{
      flex-direction: column;
    }
    .container1{
      width: 100%;
    }
    .map{
      width: 430px;
      margin-top: 10px;
    }
    .modal-content{
      width: 95%;
    }
    
  
  }
